.flightSearch {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flightInfo {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 1rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}

button {
    padding: 1rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    color: white;
    background-color: #f15c5c;
}

h3 {
    padding-bottom: 0.5rem;
}